.Rproj.user
.Rhistory
.RData
.Ruserdata
xx*
mRNA*
ERR*
**.pyc
overlaps**
CAMDATA/*
camarosa_gff_data.gff
Expression/test_graphs/*
Expression/expression_out.csv
Expression/camarosa_gtf_data.gtf
Expression/TE_Data.csv
__pycache__
